.modal_background {
  background-color: rgba(116 116 116 / 64%);
  position: fixed;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s ease-in-out;
}

.modal_container {
  max-height: 95%;
  width: 30%;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: var(--base-tight-spacing);
  z-index: 999;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.closeIconWrap {
  position: relative;
}
.closeIcon {
  position: absolute;
  right: -50px;
  top: -50px;
  cursor: pointer;
}
