.navbar{
    display: flex;
    align-items: center;
    padding: 16px;
    width: 100%;
    justify-content: center;
    background-color: var(  --gamboge);
   
}
.navbar_title{
    color: var( --umber);
    font-size: var( --heading-fs);
}