*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.main_container{
    width: calc(100% - 3.4rem);
    float: right;
    transition: .4s;
    background-color: #eee;
    height: 100vh;
}

#slide_toggle{
    width: calc(100% - 14rem);
    transition: .4s;
}

/* HOME */
.main_block{
    margin: 2rem;
 }

 /* ACCORDION PAGE */

 .pageContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    
}

.accordion_title_block{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 20px;
    background: -webkit-linear-gradient( #3399ff,#000066);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}