*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.main_container{
    width: calc(100% - 3.4rem);
    float: right;
    transition: .4s;
    background-color: #eee;
    height: 100vh;
}

#slide_toggle{
    width: calc(100% - 14rem);
    transition: .4s;
}