
.accordion_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.15rem;
    cursor: pointer;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.54);
box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.54);
border-radius: 4px 4px 0 0;
}
.accrodion_content{
    padding: 1rem;
}
.accordion_title{
    font-size: 1.2rem;
    font-weight: 500;
}
